$white: #ffffff;
$black: #000000;
$grey: #dfdfdf;

$hugh-is-life-personal-use: "Hugh Is Life Personal Use", sans-serif;

$thin: 100;
$extra-light: 200;
$light: 300;
$book: 400;
$medium: 500;
$demi: 600;
$bold: 700;
$heavy: 900;
